.modal .modal-inner .modal-body .form .form-holder .form-holder-inner form input.submit-btn {
    top: auto;
    bottom: 0px;
    font-size:25px;
}

.modal .modal-inner .modal-body .form {
    padding: 10px 0 !important;
}
.register {
    transition: all 1s ease-in;
    transform: rotateY(360deg) !important;
    opacity:0;
}
.thank-you-holder{
    text-align:center;
}

.thank-you-holder span{
    display:inline-block;
    font-size:34px;
    float:none !important;
    margin:80px 0;
}
